<div class="nav-side-menu">
    <div class="brand">Go Shop</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="{% url 'dashboard:dashboard' %}">
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                </a>
            </li>
            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-gift fa-lg"></i> Products <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li>Clothes</li>
                <li>Books</li>
                <li>Tickets</li>
            </ul>
            <li>
                <a href="{% url 'customer:customer' %}">
                    <i class="fa fa-users fa-lg"></i> Customer
                </a>
            </li>
            <li>
                <a href="{% url 'contact:contact' %}">
                    <i class="fa fa-user fa-lg"></i> Contact Us
                </a>
            </li>
        </ul>
    </div>
</div>
