body {
    margin: 0;
    padding: 0;
}

.main-content {
    margin-left: 220px;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .main-content {
        margin-left: 20px;
    }
}

.page-title {
    border-bottom: 2px solid #106984;
    display: inline-block;
    padding-bottom: 2px;
    font-size: 25px;
}

.required label {
    font-weight: bold;
}

.required label:after {
    color: #e32;
    content: ' *';
    display: inline;
}

.app-content {
    margin-right: 20px;
}

.btn-outline-green {
    border-color: #46b8da;
    outline: none;
}

.btn-outline-red {
    border-color: red;
    outline: none;
}